In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.service import Service
import re

In [18]:
drivers = webdriver.Chrome(r"E:\New folder\chromedriver_win32\chromedriver.exe")

drivers.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [19]:
TOTAL=[]

total = drivers.find_elements(By.TAG_NAME, "tr")

In [21]:
for i in total:
    TOTAL.append(i.text)
TOTAL

[<selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a598ad97-1db4-47d5-a842-fbbc0cd877bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="34089bf1-3fac-4ef6-b11f-d5bd5e90df6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="4210f732-18c6-4b36-8a8e-65e1bd40a56e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="cc2d2fc2-fc3a-4d3f-96c8-089a7cef8c02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="cdd42592-4529-40a4-b385-74a1e8ffe1a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="8c32385c-3a7b-4825-bfb9-26137e2ee6b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="d4ebfa01-f6c0-4273-949b-ffed5402840e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="b39c5ba9-d962-429d-a2af-d35014e88f23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="e25d9752-9457-442b-b9e9-2f118fe91265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="0b5d904e-e66e-4402-8d19-8dab2f7f620f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a3936c6e-03e7-4b29-a95e-cd9185e0df1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="6d3cbf94-20bf-4cbf-8ae1-3b6bc67910b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="360e9621-3d59-48e9-afdd-01c1faca9084")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="077f967c-93dd-4145-ac3e-565273af0018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="99a663c3-6be7-473f-a59e-eae78e1e0e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="e1696443-8dbe-4daf-aae0-39fef2828b89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="4ae54418-f584-4168-83f5-47b0d2b66034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="3888c011-4f44-41a4-8f75-b74a023635b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="d69c80c0-fbfb-47fa-8889-e6f20bee4694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="4be09bb7-6119-4520-b665-35cac634642e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="8acf2f13-bdf8-4b0a-a2f0-3b28afc947b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="d9623ad8-9f1b-42ad-aa16-5421431e56dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="0e8e34e6-c3e1-4909-ae49-5334d3a5e7ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="80b2b672-25bf-413c-8901-c8d589f69d3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="d3e46bf2-fb60-44d4-840a-f1c30d129dc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="9f698b5e-f7e3-4694-aae8-52611bb3afd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="b2aab638-2df5-4b1b-833e-e5d87dce6fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="5c97c630-640b-46c3-ba8e-d73fc84c9539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="906e6463-901a-4d33-a348-1cd9f4011283")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="f5b6b83b-f899-4831-860b-265272057928")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="63de81bc-8ac2-4e92-9a10-0588d20d781e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="c7ccf7a3-25d6-4edb-9823-16c69ec4f542")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="e4b63f45-a862-44e7-b76e-6be046494fbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a3dcd035-0f2a-442a-a355-bb0ac53bab90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="b5d5fcac-3807-4ed7-bd54-348d26eb5072")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="c8ce4d61-5a35-4a93-91f6-b3f9e49ed07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="c3c8a457-5ad5-44cf-a1f6-284d7e5a2315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="b41cbd73-f63b-4920-a2c5-de37eb04a157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="e9f8af6c-a73a-4ff4-b7b2-df495071f967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="930ef921-8021-4809-bb56-a73fc3cdd7d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="38d15837-f534-41cb-9f5b-0be2f2f6fd28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="d9939be2-aacd-4211-9be1-de61f980dc89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="72aebee7-c2ca-49eb-971c-1846c0112679")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="7c5702b0-b876-4396-b246-e5a4e04b8455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="aa5df968-0040-4877-a39f-33b199b51793")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="0391bfc9-3673-4dac-9e0f-123fe6f5b108")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a8d4e78d-7898-4b66-92c6-b2f1a1416dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="4145182c-7335-4fe2-b79e-ae204899a172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="90ecd956-bae9-4b83-819d-c85eeacfbb2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="96dadc9d-7789-403d-a167-da57403a6d84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="91a0e052-02ab-4952-85f9-f7309f772c9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a69f5301-ce5f-4606-969c-d0c9073d6ef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="51513281-b149-4dc3-84cf-74dcf64125a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="759dd0d8-fa5b-4841-b23a-98fbe3c46ef7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="604757bf-9e97-48ce-8688-54f8a61c55a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="637cc422-7fe7-43c4-b319-8063cee3bff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="678eed57-03f3-4816-b2c3-a0a5feb4b7e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="790a365c-7ad9-4044-a32d-6f1dfacf90a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="50082784-9fc2-433d-8abb-c4aebac4008d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="93730550-131a-4a79-9a85-9ea5a0487e28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="7520f1d9-0d2c-488b-ad7d-68a0654ecb15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="ad2047da-c819-41a6-b9a6-397eaa095545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="7c3be32d-bad3-4714-bec6-4933423c160e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="57a0438b-70e6-43b7-ab11-bbcadaf16ee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="6a3a542a-8dc5-4e07-acc2-498318bef1cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="a18e97cd-297d-4fc0-956a-ed0acc2ba4c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="9f8d81ac-df3c-46b5-948b-d32e56c86b0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="9784255d-91d3-449f-bd4e-4dae3a1e64d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="30aa3a7e-e1f7-43ad-a8d9-a7e3e79f20b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="b00f6511-bf0d-4e3d-aae0-7e6846109d35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7809e7e67e38375d1819d4244951d85", element="fbdc3831-dd6f-4e25-9a83-4568574ad426")>,
 'This article needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.\nFind sources: "List of most-viewed YouTube videos" – news · newspapers · books · scholar · JSTOR (March 2021) (Learn how and when to remove this template message)',
 'No. Video name Uploader Views (billions) Publication date Note',
 '1. "Baby Shark Dance"[4] Pinkfong Baby Shark - Kids\' Songs & Stories 12.3 June 17, 2016 [A]',
 '2. "Despacito"[7] Luis Fonsi 8.1 January 12, 2017 [B]',
 '3. "Johny Johny Yes Papa"[14] LooLoo Kids 6.59 October 8, 2016 [C]',
 '4. "Bath Song"[15] Cocomelon – Nursery Rhymes 5.96 May 2, 2018 [D]',
 '5. "Shape of You"[16] Ed Sheeran 5.89 January 30, 2017 [E]',
 '6. "See You Again"[18] Wiz Khalifa 5.76 April 6, 2015 [F]',
 '7. "Phonics Song with Two Words"[23] ChuChu TV 5.12 March 6, 2014 [G]',
 '8. "Wheels on the Bus"[24] Cocomelon – Nursery Rhymes 4.84 May 24, 2018',
 '9. "Uptown Funk"[25] Mark Ronson 4.82 November 19, 2014 [H]',
 '10. "Learning Colors – Colorful Eggs on a Farm"[26] Miroshka TV 4.8 February 27, 2018 [I]',
 '11. "Gangnam Style"[27] Psy 4.66 July 15, 2012 [J]',
 '12. "Masha and the Bear – Recipe for Disaster"[32] Get Movies 4.52 January 31, 2012 [K]',
 '13. "Dame Tu Cosita"[33] El Chombo 4.21 April 5, 2018',
 '14. "Sugar"[34] Maroon 5 3.81 January 14, 2015',
 '15. "Roar"[35] Katy Perry 3.72 September 5, 2013',
 '16. "Counting Stars"[36] OneRepublic 3.71 May 31, 2013',
 '17. "Axel F"[37] Crazy Frog 3.71 June 16, 2009',
 '18. "Sorry"[38] Justin Bieber 3.62 October 22, 2015',
 '19. "Thinking Out Loud"[39] Ed Sheeran 3.54 October 7, 2014',
 '20. "Baa Baa Black Sheep"[40] Cocomelon – Nursery Rhymes 3.48 June 25, 2018',
 '21. "Waka Waka (This Time for Africa)"[41] Shakira 3.44 June 4, 2010',
 '22. "Dark Horse"[42] Katy Perry 3.43 February 20, 2014',
 '23. "Faded"[43] Alan Walker 3.39 December 3, 2015',
 '24. "Let Her Go"[44] Passenger 3.37 July 25, 2012',
 '25. "Girls Like You"[45] Maroon 5 3.36 May 31, 2018',
 '26. "Perfect"[46] Ed Sheeran 3.35 November 9, 2017',
 '27. "Bailando"[47] Enrique Iglesias 3.32 April 11, 2014',
 '28. "Lean On"[48] Major Lazer 3.32 March 22, 2015',
 '29. "Humpty the train on a fruits ride"[49] Kiddiestv Hindi – Nursery Rhymes & Kids Songs 3.29 January 26, 2018',
 '30. "Lakdi Ki Kathi"[50] Jingle Toons 3.26 June 14, 2018',
 'As of January 17, 2023',
 'Video name Uploader Views at\nachievement* Publication date Date achieved Days after\nupload Days\nheld Takedown\ndate Ref Notes',
 '"Baby Shark Dance"[4] Pinkfong Baby Shark - Kids\' Songs & Stories 7,046,700,000 June 17, 2016 November 2, 2020 1600 825',
 '"Despacito"[7] Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 206 1,186 [62] [B]',
 '"See You Again"[18] Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 826 25 [19]',
 '"Gangnam Style"⁂[27] Psy 803,700,000 July 15, 2012 November 24, 2012 134 1,689 [28] [J]',
 '"Baby"*[63] Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 149 862 [64] [L]',
 '"Bad Romance"[67] Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 143 93 [68] [M]',
 '"Charlie Bit My Finger"‡[71] HDCYT 128,900,000 May 22, 2007 October 25, 2009 887 171 late July 2021[72] [73]',
 '"Evolution of Dance"[74] Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 1062 176 [75]',
 '"Girlfriend"‡[76][77] RCA Records 92,600,000 February 27, 2007 July 17, 2008 508 289 no data [78] [N]',
 '"Evolution of Dance"[74] Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 651 124 [80]',
 '"Music Is My Hot Hot Sex"‡[81] CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 327 14 mid-2008[82] [83] [O]',
 '"Evolution of Dance"*[74] Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 16 652 [86] [P]',
 '"Pokémon Theme Music Video"‡[87] Smosh 4,300,000 November 28, 2005 March 12, 2006 105 68 June 2007[88] [89] [Q]',
 '"Myspace – The Movie"‡[92][93] eggtea 2,700,000 January 31, 2006 February 18, 2006 18 22 mid-2006[94] [95]',
 '"Phony Photo Booth"‡[96] mugenized 3,400,000 December 1, 2005 January 21, 2006 50 28 no data [97] [R]',
 '"The Chronic of Narnia Rap"‡[98] youtubedude 2,300,000 December 18, 2005 January 9, 2006 22 12 no data [99]',
 '"Ronaldinho: Touch of Gold"‡*[100] Nikesoccer 255,000 October 21, 2005 October 31, 2005 10 70 no data [101] [S]',
 '"I/O Brush"‡*[103] larfus 247,000 October 5, 2005 October 29, 2005 24 2 no data [104]',
 '"Me at the zoo"[105] jawed 1 April 23, 2005 April 23, 2005 0 189 [106]',
 'As of February 5, 2023',
 'show\nvte\nYouTube',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'show\nvte\nMost popular social media accounts and posts',
 '',
 '']

In [33]:
TOTAL2=pd.Series(TOTAL)
len(TOTAL2)

142

In [36]:
TOTAL3=TOTAL2[105:124]
total4=TOTAL3.tolist()

In [37]:
total4

['"Baby Shark Dance"[4] Pinkfong Baby Shark - Kids\' Songs & Stories 7,046,700,000 June 17, 2016 November 2, 2020 1600 825',
 '"Despacito"[7] Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 206 1,186 [62] [B]',
 '"See You Again"[18] Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 826 25 [19]',
 '"Gangnam Style"⁂[27] Psy 803,700,000 July 15, 2012 November 24, 2012 134 1,689 [28] [J]',
 '"Baby"*[63] Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 149 862 [64] [L]',
 '"Bad Romance"[67] Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 143 93 [68] [M]',
 '"Charlie Bit My Finger"‡[71] HDCYT 128,900,000 May 22, 2007 October 25, 2009 887 171 late July 2021[72] [73]',
 '"Evolution of Dance"[74] Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 1062 176 [75]',
 '"Girlfriend"‡[76][77] RCA Records 92,600,000 February 27, 2007 July 17, 2008 508 289 no data [78] [N]',
 '"Evolution of Dance"[74] Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 651 124 [80]',
 '"Music Is My Hot Hot Sex"‡[81] CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 327 14 mid-2008[82] [83] [O]',
 '"Evolution of Dance"*[74] Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 16 652 [86] [P]',
 '"Pokémon Theme Music Video"‡[87] Smosh 4,300,000 November 28, 2005 March 12, 2006 105 68 June 2007[88] [89] [Q]',
 '"Myspace – The Movie"‡[92][93] eggtea 2,700,000 January 31, 2006 February 18, 2006 18 22 mid-2006[94] [95]',
 '"Phony Photo Booth"‡[96] mugenized 3,400,000 December 1, 2005 January 21, 2006 50 28 no data [97] [R]',
 '"The Chronic of Narnia Rap"‡[98] youtubedude 2,300,000 December 18, 2005 January 9, 2006 22 12 no data [99]',
 '"Ronaldinho: Touch of Gold"‡*[100] Nikesoccer 255,000 October 21, 2005 October 31, 2005 10 70 no data [101] [S]',
 '"I/O Brush"‡*[103] larfus 247,000 October 5, 2005 October 29, 2005 24 2 no data [104]',
 '"Me at the zoo"[105] jawed 1 April 23, 2005 April 23, 2005 0 189 [106]']

In [45]:
Video_Name = []

for i in total4:
    sub=i.split('[')
    result=sub[0]
    Video_Name.append(result)
Video_Name

['"Baby Shark Dance"',
 '"Despacito"',
 '"See You Again"',
 '"Gangnam Style"⁂',
 '"Baby"*',
 '"Bad Romance"',
 '"Charlie Bit My Finger"‡',
 '"Evolution of Dance"',
 '"Girlfriend"‡',
 '"Evolution of Dance"',
 '"Music Is My Hot Hot Sex"‡',
 '"Evolution of Dance"*',
 '"Pokémon Theme Music Video"‡',
 '"Myspace – The Movie"‡',
 '"Phony Photo Booth"‡',
 '"The Chronic of Narnia Rap"‡',
 '"Ronaldinho: Touch of Gold"‡*',
 '"I/O Brush"‡*',
 '"Me at the zoo"']

In [88]:
Uploader = []

for i in total4:
    sub=i.split(']')
    result=sub[1]
    Uploader.append(result)
Uploader

[" Pinkfong Baby Shark - Kids' Songs & Stories 7,046,700,000 June 17, 2016 November 2, 2020 1600 825",
 ' Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 206 1,186 [62',
 ' Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 826 25 [19',
 ' Psy 803,700,000 July 15, 2012 November 24, 2012 134 1,689 [28',
 ' Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 149 862 [64',
 ' Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 143 93 [68',
 ' HDCYT 128,900,000 May 22, 2007 October 25, 2009 887 171 late July 2021[72',
 ' Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 1062 176 [75',
 '[77',
 ' Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 651 124 [80',
 ' CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 327 14 mid-2008[82',
 ' Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 16 652 [86',
 ' Smosh 4,300,000 November 28, 2005 March 12, 2006 105 68 June 2007[88',
 '[93',
 ' mugenized 3,400,000 December 1, 2005 January 21, 2006 50 28 no data [97',
 ' youtubedude 2,300,000 December 18, 2005 January 9, 2006 22 12 no data [99',
 ' Nikesoccer 255,000 October 21, 2005 October 31, 2005 10 70 no data [101',
 ' larfus 247,000 October 5, 2005 October 29, 2005 24 2 no data [104',
 ' jawed 1 April 23, 2005 April 23, 2005 0 189 [106']

In [85]:
Uploader1 = []

for i in Uploader:
    i.replace('', '\n')
    Uploader1.append(i)
Uploader1

[" Pinkfong Baby Shark - Kids' Songs & Stories 7,046,700,000 June 17, 2016 November 2, 2020 1600 825",
 ' Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 206 1,186 [62',
 ' Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 826 25 [19',
 ' Psy 803,700,000 July 15, 2012 November 24, 2012 134 1,689 [28',
 ' Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 149 862 [64',
 ' Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 143 93 [68',
 ' HDCYT 128,900,000 May 22, 2007 October 25, 2009 887 171 late July 2021[72',
 ' Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 1062 176 [75',
 '[77',
 ' Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 651 124 [80',
 ' CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 327 14 mid-2008[82',
 ' Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 16 652 [86',
 ' Smosh 4,300,000 November 28, 2005 March 12, 2006 105 68 June 2007[88',
 '[93',
 ' mugenized 3,400,000 December 1, 2005 January 21, 2006 50 28 no data [97',
 ' youtubedude 2,300,000 December 18, 2005 January 9, 2006 22 12 no data [99',
 ' Nikesoccer 255,000 October 21, 2005 October 31, 2005 10 70 no data [101',
 ' larfus 247,000 October 5, 2005 October 29, 2005 24 2 no data [104',
 ' jawed 1 April 23, 2005 April 23, 2005 0 189 [106']

In [24]:
TOTAL1=[]

total = drivers.find_elements(By.XPATH, '//td[@align="right"]')

for i in total:
    TOTAL1.append(i.text)
TOTAL1

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'June 4, 2010',
 'February 20, 2014',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'June 14, 2018',
 '7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '1',
 'April 23, 2005',
 'April 23, 2005']

In [62]:
filtered = pd.Series(TOTAL1).drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29])
filtered1=filtered.tolist()
filtered1

['7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '1',
 'April 23, 2005',
 'April 23, 2005']

In [61]:
View = pd.Series(filtered1).drop([1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29,31,32,34,35,37,38,40,41,43,44,46,47,49,50,52,53,55,56,],axis=0)
View1=View.tolist()
View1

['7,046,700,000',
 '2,993,700,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000',
 '178,400,000',
 '128,900,000',
 '118,900,000',
 '92,600,000',
 '78,400,000',
 '76,600,000',
 '10,600,000',
 '4,300,000',
 '2,700,000',
 '3,400,000',
 '2,300,000',
 '255,000',
 '247,000',
 '1']

In [71]:
other =pd.Series(filtered1).drop([0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54],axis=0)
other1=other.tolist()
other2=pd.Series(other1)
other2

0         June 17, 2016
1      November 2, 2020
2      January 12, 2017
3        August 4, 2017
4         April 6, 2015
5         July 10, 2017
6         July 15, 2012
7     November 24, 2012
8     February 19, 2010
9         July 16, 2010
10    November 24, 2009
11       April 14, 2010
12         May 22, 2007
13     October 25, 2009
14        April 6, 2006
15          May 2, 2009
16    February 27, 2007
17        July 17, 2008
18        April 6, 2006
19       March 15, 2008
20        April 9, 2007
21        March 1, 2008
22        April 6, 2006
23         May 19, 2006
24    November 28, 2005
25       March 12, 2006
26     January 31, 2006
27    February 18, 2006
28     December 1, 2005
29     January 21, 2006
30    December 18, 2005
31      January 9, 2006
32     October 21, 2005
33     October 31, 2005
34      October 5, 2005
35     October 29, 2005
36       April 23, 2005
37       April 23, 2005
dtype: object

In [77]:
Achieved_Date = other2.drop([0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36])
Achieved_Date

1      November 2, 2020
3        August 4, 2017
5         July 10, 2017
7     November 24, 2012
9         July 16, 2010
11       April 14, 2010
13     October 25, 2009
15          May 2, 2009
17        July 17, 2008
19       March 15, 2008
21        March 1, 2008
23         May 19, 2006
25       March 12, 2006
27    February 18, 2006
29     January 21, 2006
31      January 9, 2006
33     October 31, 2005
35     October 29, 2005
37       April 23, 2005
dtype: object

In [81]:
Publication_Date = other2.drop([1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37], axis=0)
Publication_Date

0         June 17, 2016
2      January 12, 2017
4         April 6, 2015
6         July 15, 2012
8     February 19, 2010
10    November 24, 2009
12         May 22, 2007
14        April 6, 2006
16    February 27, 2007
18        April 6, 2006
20        April 9, 2007
22        April 6, 2006
24    November 28, 2005
26     January 31, 2006
28     December 1, 2005
30    December 18, 2005
32     October 21, 2005
34      October 5, 2005
36       April 23, 2005
dtype: object