In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.service import Service
import requests
from bs4 import BeautifulSoup

In [2]:
drivers = webdriver.Chrome(r"E:\New folder\chromedriver_win32\chromedriver.exe")

drivers.get('https://www.statisticstimes.com/economy/india/indian-states-gdp-growth.php')

In [5]:
Name = []

name = drivers.find_elements(By.CLASS_NAME, "name")

for i in name:
    Name.append(i.text)
len(Name)

68

In [10]:
Name1=pd.Series(Name).drop([33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67])
Name1

0                       Mizoram
1                       Tripura
2                       Gujarat
3                     Karnataka
4                       Haryana
5                         Delhi
6                     Telangana
7                        Sikkim
8                   Uttarakhand
9                    Chandigarh
10               Madhya Pradesh
11               Andhra Pradesh
12                        Assam
13                       Odisha
14             Himachal Pradesh
15                   Tamil Nadu
16                  Maharashtra
17                    Rajasthan
18                Uttar Pradesh
19                       Kerala
20                        Bihar
21            Arunachal Pradesh
22                    Jharkhand
23                      Manipur
24                       Punjab
25                 Chhattisgarh
26              Jammu & Kashmir
27                          Goa
28                     Nagaland
29                  West Bengal
30                   Puducherry
31                    Meghalaya
32    Andaman & Nicobar Islands
dtype: object

In [13]:
Rank = []

rank = drivers.find_elements(By.CLASS_NAME, "data1")

for i in rank:
    Rank.append(i.text)

In [14]:
Rank1=pd.Series(Rank).drop([33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67])
Rank1

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
dtype: object

In [22]:
Other = []

other = drivers.find_elements(By.CLASS_NAME, "data")

for i in other:
    Other.append(i.text)
Other

['14.07',
 '11.63',
 '12.56',
 '18.91',
 '14.97',
 '17.56',
 '9.79',
 '11.69',
 '9.94',
 '12.32',
 '14.02',
 '14.66',
 '-',
 '9.19',
 '9.83',
 '-',
 '13.08',
 '13.61',
 '5.95',
 '6.67',
 '8.79',
 '9.30',
 '11.68',
 '13.77',
 '7.75',
 '7.49',
 '8.64',
 '13.27',
 '13.02',
 '13.79',
 '7.42',
 '7.71',
 '8.04',
 '10.48',
 '12.82',
 '12.31',
 '8.23',
 '9.53',
 '7.96',
 '12.61',
 '14.33',
 '13.30',
 '6.92',
 '5.94',
 '7.72',
 '13.13',
 '10.60',
 '14.56',
 '-',
 '6.87',
 '7.66',
 '-',
 '10.35',
 '11.44',
 '-',
 '7.39',
 '7.54',
 '-',
 '14.22',
 '12.27',
 '7.62',
 '5.77',
 '7.50',
 '11.99',
 '11.71',
 '14.48',
 '8.16',
 '4.45',
 '7.36',
 '12.73',
 '8.80',
 '12.49',
 '-',
 '6.42',
 '7.34',
 '-',
 '11.55',
 '11.99',
 '5.21',
 '4.23',
 '7.32',
 '6.86',
 '10.64',
 '11.37',
 '5.56',
 '7.10',
 '7.14',
 '7.56',
 '11.20',
 '11.31',
 '8.03',
 '7.95',
 '7.12',
 '13.23',
 '11.27',
 '11.71',
 '-',
 '5.99',
 '6.88',
 '-',
 '10.50',
 '10.87',
 '5.05',
 '6.97',
 '6.54',
 '8.32',
 '12.86',
 '11.69',
 '3.81',
 '6.26',
 '6.51',
 '6.50',
 '11.92',
 '11.86',
 '-',
 '7.46',
 '6.34',
 '-',
 '11.41',
 '11.54',
 '10.47',
 '9.27',
 '6.18',
 '15.36',
 '13.15',
 '11.55',
 '-',
 '4.59',
 '6.17',
 '-',
 '9.68',
 '12.26',
 '6.69',
 '6.84',
 '6.04',
 '10.56',
 '10.15',
 '10.40',
 '7.11',
 '2.93',
 '5.96',
 '14.07',
 '8.07',
 '11.73',
 '5.33',
 '5.98',
 '5.88',
 '9.19',
 '11.80',
 '10.22',
 '5.32',
 '7.06',
 '5.61',
 '8.26',
 '10.95',
 '9.88',
 '-',
 '6.08',
 '5.51',
 '-',
 '12.01',
 '10.45',
 '9.73',
 '9.75',
 '5.48',
 '9.95',
 '5.51',
 '8.93',
 '-',
 '7.05',
 '5.46',
 '-',
 '11.40',
 '12.27',
 '7.26',
 '6.41',
 '5.16',
 '15.04',
 '11.82',
 '11.17',
 '9.04',
 '3.30',
 '4.69',
 '11.09',
 '7.17',
 '10.88',
 '8.16',
 '9.38',
 '3.17',
 '9.23',
 '13.46',
 '7.76',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '4.04',
 '6.53',
 '6.95',
 '7.75',
 '10.51',
 '11.72',
 '15.78',
 '11.56',
 '13.48',
 '16.60',
 '14.85',
 '18.64',
 '-',
 '9.55',
 '9.99',
 '-',
 '13.42',
 '13.90',
 '9.60',
 '11.27',
 '9.65',
 '12.03',
 '13.49',
 '14.53',
 '7.77',
 '7.46',
 '8.45',
 '13.47',
 '13.23',
 '13.73',
 '5.96',
 '6.32',
 '8.45',
 '9.28',
 '11.45',
 '13.59',
 '-',
 '6.81',
 '7.87',
 '-',
 '10.47',
 '11.77',
 '8.25',
 '9.65',
 '7.83',
 '12.72',
 '14.43',
 '13.37',
 '7.27',
 '7.58',
 '7.74',
 '10.66',
 '13.50',
 '12.21',
 '5.55',
 '7.45',
 '7.67',
 '7.32',
 '11.68',
 '11.96',
 '6.81',
 '5.05',
 '7.36',
 '12.93',
 '10.10',
 '14.61',
 '7.55',
 '5.59',
 '7.32',
 '12.19',
 '12.01',
 '14.77',
 '-',
 '6.61',
 '7.23',
 '-',
 '13.72',
 '12.10',
 '8.18',
 '4.51',
 '7.20',
 '12.79',
 '8.86',
 '12.55',
 '5.07',
 '3.52',
 '7.08',
 '6.94',
 '10.32',
 '11.28',
 '-',
 '6.11',
 '7.02',
 '-',
 '11.45',
 '11.86',
 '8.14',
 '7.96',
 '6.97',
 '13.23',
 '11.18',
 '11.73',
 '-',
 '5.77',
 '6.88',
 '-',
 '10.53',
 '10.99',
 '-',
 '7.55',
 '6.62',
 '-',
 '11.82',
 '11.61',
 '3.74',
 '5.99',
 '6.18',
 '6.48',
 '11.87',
 '11.79',
 '5.04',
 '7.07',
 '6.16',
 '8.37',
 '12.92',
 '11.47',
 '6.76',
 '6.71',
 '6.05',
 '10.75',
 '9.98',
 '10.53',
 '7.67',
 '2.12',
 '6.01',
 '15.10',
 '7.50',
 '12.09',
 '10.80',
 '9.01',
 '5.89',
 '15.60',
 '12.91',
 '11.44',
 '5.41',
 '5.95',
 '5.80',
 '9.53',
 '11.85',
 '10.23',
 '-',
 '4.80',
 '5.77',
 '-',
 '9.38',
 '12.07',
 '9.51',
 '10.20',
 '5.58',
 '9.26',
 '5.07',
 '9.09',
 '-',
 '8.18',
 '5.55',
 '-',
 '12.84',
 '12.86',
 '5.18',
 '6.80',
 '5.05',
 '8.07',
 '10.71',
 '9.47',
 '7.69',
 '6.20',
 '4.94',
 '15.59',
 '11.76',
 '11.25',
 '-',
 '5.05',
 '4.75',
 '-',
 '11.38',
 '9.99',
 '8.56',
 '2.76',
 '4.58',
 '10.85',
 '6.72',
 '11.12',
 '8.19',
 '9.09',
 '2.79',
 '11.13',
 '11.69',
 '7.36',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '3.60',
 '6.36',
 '6.74',
 '7.72',
 '10.33',
 '11.70']

In [37]:

def pick(list, distance):
    
    return [list[i] for i in range (4, len(list), distance)]

In [42]:
cur_18_19=pick(Other, 6)
len(cur_18_19)
cur_18_191=pd.Series(cur_18_19)

In [45]:
cur_18_192=cur_18_191.drop([33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67])
cur_18_192

0     14.97
1     14.02
2     13.08
3     11.68
4     13.02
5     12.82
6     14.33
7     10.60
8     10.35
9     14.22
10    11.71
11     8.80
12    11.55
13    10.64
14    11.20
15    11.27
16    10.50
17    12.86
18    11.92
19    11.41
20    13.15
21     9.68
22    10.15
23     8.07
24    11.80
25    10.95
26    12.01
27     5.51
28    11.40
29    11.82
30     7.17
31    13.46
32        -
dtype: object

In [53]:

def pick(list, distance):
    
    return [list[i] for i in range (3, len(list), distance)]

In [58]:
cur_19_20=pick1(Other, 6)
cur_19_201=pd.Series(cur_19_20).drop([33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67])
cur_19_201

0     18.91
1     12.32
2         -
3      9.30
4     13.27
5     10.48
6     12.61
7     13.13
8         -
9         -
10    11.99
11    12.73
12        -
13     6.86
14     7.56
15    13.23
16        -
17     8.32
18     6.50
19        -
20    15.36
21        -
22    10.56
23    14.07
24     9.19
25     8.26
26        -
27     9.95
28        -
29    15.04
30    11.09
31     9.23
32        -
dtype: object

In [60]:

def pick3(list, distance):
    
    return [list[i] for i in range (5, len(list), distance)]

In [68]:
Average = pick3(Other, 6)
Average1 =pd.Series(Average).drop([33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67])
Average1

0     17.56
1     14.66
2     13.61
3     13.77
4     13.79
5     12.31
6     13.30
7     14.56
8     11.44
9     12.27
10    14.48
11    12.49
12    11.99
13    11.37
14    11.31
15    11.71
16    10.87
17    11.69
18    11.86
19    11.54
20    11.55
21    12.26
22    10.40
23    11.73
24    10.22
25     9.88
26    10.45
27     8.93
28    12.27
29    11.17
30    10.88
31     7.76
32        -
dtype: object

In [70]:
final = pd.DataFrame()

In [71]:
final['Rank']=Rank1
final['Name']=Name1
final['']=
final['18-19']=cur_18_192
final['Average']=Average1

SyntaxError: invalid syntax (2994476774.py, line 1)